.todo-item {
  width: 100%;
  max-width: 400px;
  min-height: 50px;
  margin: 10px auto;
  padding: 10px 15px;
  border: 1px solid #d0ebff;
  border-radius: 8px;
  background-color: #f1f9ff;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  box-shadow: 0 2px 4px mediumspringgreen;
}

.todo-item:hover {
  background-color: aquamarine;
  transform: scale(1.01);
  cursor: pointer;
}
